/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Ho Van Khoa
  ID: S3997024
  Acknowledgement: Acknowledge the resources that you use here:
https://www.goodreads.com/ (for book image and content, description)
https://www.flaticon.com/ (for icon and emoji)
https://www.bookswagon.com/ (for book image and book details)
https://fonts.google.com/ (for fonts)
https://www.wikipedia.org/ (for book content and image)
https://www.canva.com/ (for logo and background image) */
*,
html,
body {
    scroll-behavior: smooth;


}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #F7F5F2;
    width: 100%;
    height: 100%;

}







.top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    background-color: #F7F5F2;

}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0px;
    margin-left: 50px;
    background-color: #F7F5F2;
}

.contact p {
    padding-right: 10px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #F7F5F2;
}

.shopping-cart {
    display: flex;
    align-items: center;
    padding-right: 0px;
    padding-left: 40px;

}

.shopping-cart img {

    width: 20px;
}

.user-account img {
    width: 20px;
}

.user-account {
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.shopping-cart p,
.user-account p {
    font-size: 15px;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0px;
    /* background-color: #F4ECE8; */
    background-image: url("../image/top-background.png");

}

.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    height: 720px;

}


.background-intro {
    background-image: url("../image/back2.jpg");
    /* background-image: url("../image/background.png"); */
    /* filter: blur(4px);  */
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#intro {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro-text {
    position: relative;
    display: flex;
    top: 300px;
    width: 70%;
    height: 500px;
    align-items: center;

    background-color: white;

}

.title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-family: Lato, sans-serif;
    column-gap: 0.8rem;
    color: #9e884b;
    margin-bottom: -5px;
    font-size: 22px;

}

.title::before,
.title::after {
    content: "";
    height: 2px;
    background-color: #9e884b;
    display: block;

}

#intro h1 {
    color: #9e884b;
    font-weight: 600;
    font-family: Lato, sans-serif;
    font-size: 40px;

}

#intro p {
    width: 80%;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 19px;
}

#text {
    position: relative;
}







.logo img {
    padding-top: 0px;
    padding-right: 10px;
    width: 250px;

}



.navbar-section,
.list-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    padding: 20px 0px;
}

.navbar-section li:not(:last-child) {
    border-right: 1px solid black;
}

.section a {
    font-size: 18px;

}

.navbar-section ul,
.li-section {
    list-style-type: none;
    margin: 0;
    padding-right: 50px;

}

.navbar-section li {
    display: inline-block;
    /* padding-right: 10px; */
    font-size: 17px;

}

.list-section li {
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;

}

.navbar-section a:hover {
    color: grey;
}

.section a,
.li-section a {
    position: relative;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px 20px;
}

.li-section a {
    padding: 0px 5px;
}

.section a:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

.section a:hover:after {
    width: 100%;
}


/* hamburger */
#toggler,
label {
    display: none;
}

label i {
    color: white;
}




.search-bar {
    width: 400px;
    height: 15px;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    border: 2px solid #3F2305;
    padding: 10px 50px;
    padding-left: 10px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 15px;
    color: black;
}

/*cai ben trong cua search*/
::placeholder {
    color: black;

}

.search-bar button img {
    width: 12.5px;
}

.search-bar button {
    border: 1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #58629b;
}



/* category container */
.category-1-container,
.category-2-container {
    background-color: #F7F5F2;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}




.category-1-container {
    padding-top: 0px;



}

.category-1,
.category-2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* position: relative;
    top: 320px; */

    border-radius: 3.5%;
}






.category-1 {
    display: flex;
    flex-direction: column;

    /* padding-top: 320px; */
    align-items: center;
    margin-top: 320px;

}

.heading {
    margin-bottom: 2rem;
    text-align: center;
    right: 140px;
    top: 35px;
    position: relative;
    width: 700px;

}

.top-heading {
    text-align: left;
    position: relative;
    top: 10px;

}




.top-seller h1 {
    text-align: center;
}

.books {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    flex-wrap: wrap;
    /* background-color: white; */
    /* background-color: #F4ECE8; */
    /* background-color: white;   */
    /* background-image: url("../image/top-background.png");   */
    padding-bottom: 100px;
}

.book1:hover,
.book2:hover,
.book3:hover,
.book4:hover,
.book5:hover {
    transform: scale(1.1);
    z-index: 2;
}

.book-cover {
    position: relative;
    overflow: hidden;
}

.book-cover img {
    width: 200px;
    display: block;
    overflow: hidden;

}

.book-title {
    font-size: 16px;
    margin-bottom: -10px;
    font-family: Poppin, sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 26.4px;

}

.book-rating {
    text-align: center;
}

.book-price {
    text-align: center;
    font-size: 15px;
    font-family: Poppin, sans-serif;
    font-weight: 600;
    color: #a1a1a1;
}

/* pop up cart */



.buy-now {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    position: absolute;

    bottom: -50px;
    transition: 0.35s ease-in-out;
}

.add,
.information {
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: white;



}

.information {
    margin-left: -80px;
}

.add img,
.information img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.book-cover:hover .buy-now {
    bottom: 35px
}

/* .book-pic:hover{
    filter: blur(1.5px);
} */



.category-2-container {
    padding-top: 70px;
    padding-bottom: 100px;
    height: fit-content;
    /* margin-bottom: 300px; */

}

.category-2 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}


.top-heading span {

    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.8px;
    text-decoration: none solid rgb(42, 42, 42);
    text-align: left;

}

.heading p {
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-style: italic;
    line-height: 21px;
    text-decoration: none solid rgb(161, 161, 161);
    text-align: left;
    color: #a1a1a1;

}

.book1,
.book2,
.book3,
.book4,
.book5 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    /* background-color: white; */
    /* border: 1px solid black; */
    /* box-shadow: 15px 10px 15px rgba(0,0,0,0.10); */
    padding-bottom: 0px;
}






/* subscribe container */


.subscribe-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding-top: 120px;
    padding-bottom: 100px;
    border-radius: 3.5%;

}



.subs-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.subs-left,
.subs-right {
    position: relative;
    padding-left: 100px;
    padding-right: 0px;

}






.subscribe-text h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: Lato, sans-serif;
}

.subscribe-text span {
    position: relative;
    bottom: 10px;
    font-size: 18px;
    color: #a1a1a1;
    font-style: italic;
    font-weight: 600;
    font-family: Lato, sans-serif;

}

.subscribe-form {
    display: flex;
    flex-direction: row;
}




#subs-name input,
#subs-mail input {
    width: 100%;
    height: 50px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    color: grey;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

::placeholder {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
}

#subs-mail input {
    position: relative;
    left: 60px;
}

.subscribe-form button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 120px;
    width: 50px;
    height: 50px;
    background-color: black;
}



.subscribe-form img {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    box-shadow: none;
    border: 1px solid transparent;
    transition: all 0.3s;
}

.subscribe-information {
    display: flex;
    flex-direction: row;
    width: 450px;
}

.subscribe-information-left,
.subscribe-information-right {
    width: 1000px;
}

.subscribe-information-right ul li,
.subscribe-information-left ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 17px;
    font-weight: 600;
    color: #2a2a2a;
    margin-bottom: 30px;
    display: block;
    font-family: Lato, sans-serif;
}


.subscribe-information-right span,
.subscribe-information-left span {
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    font-family: Lato, sans-serif;
}

.location,
.email {
    padding-right: 30px;
}

.subs-right {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
    top: 20px;
}

.subscribe-information-top h2,
.subscribe-information-bottom h2 {
    font-size: 16px;
    font-family: Poppin, sans-serif
}

/* About us container */

.aboutcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: white;
    padding-top: 100px;
    padding-right: 80px;
    padding-left: 80px;
    font-family: Lato, sans-serif;
    line-height: 22px;
    letter-spacing: 0.5px;
    padding-bottom: 100px;
    border-radius: 3.5%;
}


.aboutcontainer p,
.aboutcontainer h2 {
    /* padding-left: 100px; */
}



.follow-us img {
    width: 4%;
    padding-top: 10px;
    padding-right: 40px;
}

/* Footer */
.footer-container {

    background-color: #F7F5F2;
    background-image: url("../image/top-background.png");
    width: 100%;
    height: 350px;
    margin-top: 100px;

}

footer {

    box-sizing: border-box;

}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;

}

.utube-media {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.right-footer {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}



.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;


}


.logo-text {
    padding-top: 0px;
    width: 100%;
}

.logo-text p {
    font-family: Lato, sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 300px;

}


.nav-footer {
    width: 400px;
    position: relative;
    bottom: 10px;


}

.nav {
    display: flex;
}

.hr-footer {
    height: 1px;

}

.aboutus,
.privacy,
.term,
.copyright,
.contactus {
    width: 200px;
    text-align: center;


}

.aboutus a,
.privacy a,
.term a,
.copyright a,
.contactus a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: Lato, sans-serif;

}

.aboutus a:hover,
.privacy a:hover,
.term a:hover,
.copyright a:hover,
.contactus a:hover {
    color: grey;
}




@media screen and (max-width: 768px) {


    /* burger */


    .category-1-container {
        width: 100%;
        height: fit-content;
        padding-bottom: 10px;
    }

    .category-2-container {
        width: 100%;
        height: fit-content;
        padding-bottom: 100px;

    }



    .heading {
        width: 80%;

        /* margin-left: 300px; */
        position: relative;
        left: 0px;
        right: 0px;
    }

    .heading p {
        font-size: 10px;
        text-align: center;
    }

    .top-heading span {
        font-size: 12px;

    }

    .top-heading {
        text-align: center;
    }

    .book1,
    .book2,
    .book3,
    .book4,
    .book5 {
        padding-top: 100px;
    }

    .books {
        width: 10%;
    }


    #bestseller,
    #onsale {
        width: 85%;
    }

    .subscribe {
        width: 100%;
        height: fit-content;

    }

    .subscribe-container {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subs-left,
    .subs-right {
        position: relative;

        width: 80%;
        text-align: center;
        padding-left: 0px;

    }


    .subscribe-text h1 {
        font-size: 12px;
    }

    .subscribe-text span {
        font-size: 10px;
    }

    .subscribe-form {
        width: 100%;
        text-align: center;

    }

    #subs-name input,
    #subs-mail input {
        width: 40%;
        height: 80%;
        margin-top: 10px;

    }

    #subs-mail input {
        left: 10%;
    }

    ::placeholder {
        font-size: 65%;
    }

    #subs-btn {

        height: 70%;
        width: 20%;
        left: 22px;
        top: 12px;
    }

    .subscribe-information {

        flex-direction: column;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;



    }

    .subscribe-information-left,
    .subscribe-information-right {
        width: calc(100% - 20px);
    }

    .subscribe-information-left ul li,
    .subscribe-information-right ul li {
        padding: 0;
        font-size: 15px;
        text-align: center;
    }

    .subscribe-information-left ul,
    .subscribe-information-right ul {
        margin: 0;
        padding: 0;
    }


    .subscribe-information-left span,
    .subscribe-information-right span {
        font-size: 10px;
    }

    .subs-right {
        align-items: center;
        justify-content: center;
        align-items: center;
    }



    /* footer */
    .footer-container {
        width: 100%;
        height: fit-content;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .utube-media {
        width: 70%;

    }

    .left-footer {
        width: calc(100% - 20px);
    }

    .right-footer {
        margin-left: 0;
        width: calc(100% - 20px);
    }

    .nav-footer {
        width: calc(100% - 20px);
    }

    .aboutus,
    .privacy,
    .copyright,
    .term,
    .contactus {
        width: calc(100% - 20px);
        padding-left: 5px;
        font-size: 10px;
    }
}







@media (min-width: 769px) and (max-width: 992px) {

    .heading {
        width: 80%;

        /* margin-left: 300px; */
        position: relative;
        left: 0px;
        right: 0px;
    }

    .top-heading span {
        font-size: 25px;

    }

    .heading p {
        font-size: 14px;
        text-align: center;
    }


    .top-heading {
        text-align: center;
    }



    .top-heading {
        text-align: center;
    }

    .book1,
    .book2,
    .book3,
    .book4,
    .book5 {
        padding-top: 100px;
    }

    .books {
        width: 100%;
    }


    #bestseller,
    #onsale {
        width: 85%;
    }


    ::placeholder {
        font-size: 10px;
        width: 100%;
    }

    .footer-container {
        width: 100%;
        height: fit-content;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .utube-media {
        width: 70%;

    }

    .left-footer {
        width: calc(100% - 20px);
    }

    .right-footer {
        margin-left: 0;
    }

    .nav {
        width: calc(100% - 20px);
        padding-left: 10px;
    }

    .nav p {
        font-size: 8px;
    }

}




@media (min-width: 992px) and (max-width: 1440px) {

    .heading {
        width: 80%;

        /* margin-left: 300px; */
        position: relative;
        left: 0px;
        right: 0px;
    }

    .top-heading span {
        font-size: 25px;

    }

    .heading p {
        font-size: 14px;
        text-align: center;
    }


    .top-heading {
        text-align: center;
    }



    .top-heading {
        text-align: center;
    }

    .book1,
    .book2,
    .book3,
    .book4,
    .book5 {
        padding-top: 100px;
    }

    .books {
        width: 85%;
    }


    #bestseller,
    #onsale {
        width: 85%;
    }


    .footer-container {
        width: 100%;
        height: fit-content;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .utube-media {
        width: 70%;

    }


    .right-footer {
        margin-left: 200px;
    }

    .nav {
        width: calc(100% - 20px);
        padding-left: 10px;
    }

    .nav p {
        font-size: 8px;
    }

}